html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
}

.content {
    flex: 1 0 auto;
    background-color: white;
}

footer {
    flex: 0 0 auto;
    height: 2em;
    padding: 1em;
    text-align: center;
    background-color: black;
}

.flex-container {
    min-height: 1em;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-container:after {
    display: block;
    content: "";
    flex: 999 999 auto;
}

.flex-item {
    flex: 1em 0.5em auto;
    margin: 0.1em;
}

.header {
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}

.text {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

#container-1 {
    margin-top: 1em;
}

.group-input {
    text-align: center;
}

span.sign {
    top: 1em;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

span.sign > a {
    color: grey;
}